{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "semi": true,
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 100,
  "trailingComma": "all",
  "useTabs": false,
  "parser": "typescript"
}